.caja{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: azure;
    background-color: #333;
    border-radius: 30px 0;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.2);
    position: absolute;
    
    top: 100px;
    left: 300px;
}
.caja h1{
    color: aquamarine;
    font-size: 30px;
    padding: 10px;
}
.caja p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}