.mensaje{
    text-align: center;
    padding: 2rem;
    background-color:azure;
}
@media screen and (min-width:0) {
    .mensaje{
        padding: 2rem 1rem;
    }
    
}
@media screen and (min-width:750px) {
    .mensaje{
        padding: 2rem;
    }
    
}