body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dimgray;
}
header{
    background-color: #333;
    color: azure;
    padding: 1rem;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    padding: 0;
}
nav ul li a{
    color: azure;
    text-decoration: none;
    padding: 10px;
}
main{
    padding: 2rem;
}
.presentacion{
    background-color: #f5f5f5;
    padding: 2rem;
    margin:1rem ;
    text-align: center;
    border-radius: 20px 0;
    box-shadow: 15px 20px 15px rgba(0, 0,0, 0.2);
}
.servicios, .productos{
    background-color: #f5f5f5;
    padding: 2rem;
    margin:1rem ;
    border-radius: 20px 0;
    box-shadow: 15px 20px 15px rgba(0, 0,0, 0.2);
}
.servicios ul, .productos ul{
    list-style-type: none;
    padding: 0;
}
.servicios ul li, .productos ul li{
    margin-bottom:1rem ;
}
footer{
    background-color: #333;
    color: azure;
    padding: 1rem;
    text-align: center;
    font-size: 20px;
}